{{- if .isLinuxBaremetal -}}
[Desktop Entry]
Type=Application
Name=KDE DND Watcher
Exec={{ .chezmoi.homeDir }}/bin/kde-dnd-watcher.py
NoDisplay=true
StartupNotify=false
X-KDE-autostart-phase=2
{{- end -}}
